<!-- Kaelin Hoang and Khanhly Nguyen
	This view represents the table for a selected course's learning outcomes.-->
@using Microsoft.AspNetCore.Identity
@using EFGetStarted.AspNetCore.NewDb.Models
@inject UserManager<IdentityUser> UserManager
@model CourseInstance
@{
	ViewData["Title"] = "CourseLearningOutcomes";
	Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>@Model.Dept @Model.Number Learning Outcomes</h1>

<div>
	@{
		var note = "";
		var id = -1;
		if (Model.Note != null)
		{
			note = Model.Note.Note;
			id = Model.Note.CourseNoteID;
		}

	}
	<form onsubmit="submit_note(event, @id, @Model.CourseInstanceID)" asp-action="ChangeNote" method="POST">
		<textarea id="note" name="note" rows="10" cols="50">
			@note
		</textarea>
		<br />
		<input type="submit">
	</form>
</div>

<table class="table">
	<thead>
		<tr>
			<th>
				Name
			</th>
			<th>
				Description
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.LOs)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Description)
				</td>
				<td>
					<!--Notes for each learning outcome-->

					@{
						var loNote = "";
						var loID = -1;
						if (item.Note != null)
						{
							loNote = item.Note.Note;
							loID = item.Note.LearningOutcomeNoteID;
						}
					}
					<form onsubmit="submit_lo_note(event, @loID, @item.LearningOutcomesID)" asp-action="ChangeNote" method="POST">
						<textarea id="loNote" name="loNote" rows="10" cols="50">@loNote</textarea>
						<br />
						<input type="submit">
					</form>
				</td>
			</tr>
		}
	</tbody>
</table>

@section Scripts
	{
	<script src="~/js/courseNote.js"></script>

}